@page "/"

<h2 class="bg-light border p-2">First Room</h2>
Room: @Room.RoomName
<br />
Price: @Room.Price
<br />

<input type="number" @bind-value="@Room.Price" @bind-value:event="oninput" />
<br />
<input type="checkbox" @bind-value="@Room.IsActive" checked="@(Room.IsActive?"checked" : null)" /> Is Active <br />
<span>The room is @(Room.IsActive ? "active" : "inactive")</span>

@code {

    Model.BlazorRoom Room = new Model.BlazorRoom
    {
        Id = 1,
        RoomName = "Villa Suit",
        IsActive = true,
        Price = 499,
    };

}