@page "/"
@using Model

<div class="bg-light border p-2">
    <h2 class="bg-light border p-2">First Room</h2>
    Room: @Room.RoomName
    <br />
    Price: @Room.Price
    <br />

    <input type="number" @bind-value="@Room.Price" @bind-value:event="oninput" />
    <br />
    <input type="checkbox" @bind-value="@Room.IsActive" checked="@(Room.IsActive?"checked" : null)" /> Is Active
    <br />
    <span>The room is @(Room.IsActive ? "active" : "inactive")</span>
    <br />

    <select @bind="SelectedRoomProp">
        @foreach (var item in Room.RoomProps)
        {
            <option value="@item.Name">@item.Name</option>
        }
    </select>

    <span>The Room Prop selected is: @SelectedRoomProp</span>
</div>


<div>
    <br />
    <h2 class="text-info">Room List [Assignment 2]</h2>
    <table class="table table-dark w-100">
        @foreach (var room in Rooms)
        {
            <tr>
                <td>
                    <input type="text" @bind-value="@room.RoomName" @bind-value:event="oninput" />
                </td>
                <td>
                    <input type="number" @bind-value="@room.Price" @bind-value:event="oninput" />
                </td>
                @foreach (var prop in room.RoomProps)
                {
                    <td>@prop.Name - @prop.Value</td>
                }

            </tr>
        }
    </table>
    <br />
    @foreach (var room in Rooms)
    {
        <span>@room.RoomName Price is @room.Price</span><br />
    }

</div>

@code {
    string SelectedRoomProp = "";

    List<BlazorRoom> Rooms = new List<BlazorRoom>();

    BlazorRoom Room = new BlazorRoom
    {
        Id = 1,
        RoomName = "Villa Suit",
        IsActive = true,
        Price = 499,
        RoomProps = new List<BlazorRoomProp>()
    {
                new BlazorRoomProp {Id = 1, Name= "Sq Feet", Value="100"},
                new BlazorRoomProp {Id = 2, Name= "Occupancy", Value="3"},
            }
    };

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Rooms.Add(new BlazorRoom
        {
            Id = 201,
            RoomName = "Villa Suit One Bed Room",
            IsActive = true,
            Price = 399,
            RoomProps = new List<BlazorRoomProp>()
{
            new BlazorRoomProp {Id = 1, Name= "Sq Feet", Value="330"},
            new BlazorRoomProp {Id = 2, Name= "Occupancy", Value="4"},
        }
        });

        Rooms.Add(new BlazorRoom
        {
            Id = 301,
            RoomName = "Villa Suit Two Bed Room",
            IsActive = true,
            Price = 699,
            RoomProps = new List<BlazorRoomProp>()
{
            new BlazorRoomProp {Id = 1, Name= "Sq Feet", Value="150"},
            new BlazorRoomProp {Id = 2, Name= "Occupancy", Value="6"},
        }
        });
    }

}