@page "/"

<h2 class="bg-light border p-2">First Room</h2>
Room: @Room.RoomName
<br />
Price: @Room.Price
<br />

<input type="number" @bind-value="@Room.Price" @bind-value:event="oninput" />
<br />
<input type="checkbox" @bind-value="@Room.IsActive" checked="@(Room.IsActive?"checked" : null)" /> Is Active <br />
<span>The room is @(Room.IsActive ? "active" : "inactive")</span> <br />

<select @bind="SelectedRoomProp">
    @foreach (var item in Room.RoomProps)
    {
    <option value="@item.Name">@item.Name</option>
    }
</select>

<span>The Room Prop selected is: @SelectedRoomProp</span>

@code {
    string SelectedRoomProp = "";

    Model.BlazorRoom Room = new Model.BlazorRoom
    {
        Id = 1,
        RoomName = "Villa Suit",
        IsActive = true,
        Price = 499,
        RoomProps = new List<Model.BlazorRoomProp>()
        {
            new Model.BlazorRoomProp {Id = 1, Name= "Sq Feet", Value="100"},
            new Model.BlazorRoomProp {Id = 2, Name= "Occupancy", Value="3"},
        }
    };

}